<div class="header-container">            
    <div class="header-banner">
        <a href="/" class="header-logo" title="Home" rel="home"><img src="./assets/images/usauwh_logo.png" alt="Home"></a>
        <span class="header-title">{{title}}</span>
    </div>    
    <div class="header-navigation" role="navigation" tabindex="-1">            
        <ul>
            <li *ngFor="let l of links">
                <a href="{{l.path}}" title="{{l.title}}">{{l.title}}</a>
            </li>            
        </ul>
    </div> 
    <div style="clear:both;" ></div>   
</div>
    
